
.lcd {
    position: relative;
    padding: 0;
    zoom: .75;
}

.lcd .lcd-screen {
    position: absolute;
    box-sizing: content-box;
    top: 156px;
    left: 60px;
    image-rendering: pixelated;
    padding: 20px 6px;
    filter: hue-rotate(250deg) brightness(95%);
    background-image: url('data:image/svg+xml,<svg width="36" height="36" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_aj0A{transform-origin:center;animation:spinner_KYSC .75s infinite linear}@keyframes spinner_KYSC{100%{transform:rotate(360deg)}}</style><path d="M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z" class="spinner_aj0A"/></svg>');
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FDFDFD;
}

.lcd-buttons {
    position: absolute;
    top: 379px;
    left: 20px;
    width: 350px;
    display: flex;
}

#lcd .lcd-buttons button {
    flex: 1;
    margin: 0;
    padding: 15px;
    border: none;
    box-shadow: none;
    background: transparent;
    color: transparent;
    text-shadow: none;
    border-radius: 50px;
}

#lcd .lcd-buttons button:hover {
    outline: 2px dotted black;
}

#lcd .lcd-activate {
    position: absolute;
    display: grid;
    place-content: center;
    width: 270px;
    height: 168px;
    top: 156px;
    left: 60px;
    background-color: rgba(245, 245, 245, .7);
    font-size: 2rem;
    opacity: 0;
    user-select: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#lcd .lcd-activate:hover {
    opacity: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    opacity: unset;
    font-size: inherit;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -110px;
    font-size: .875rem;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.bg-smartevse {
    background-color: #1cc88a;
}

.border-left-primary {
    border-left: .25rem solid #4e73df;
}

.border-left-info {
    border-left: .25rem solid #36b9cc;
}

.border-left-danger {
    border-left: .25rem solid #e74a3b;
}

.border-left-success {
    border-left: .25rem solid #1cc88a;
}

.border-left-warning {
    border-left: .25rem solid #f6c23e;
}

.text-gray-300 {
     color: #dddfeb;
}

.text-gray-800 {
    color: #5a5c69;
}

/* Slightly change the default green color. */
.button.btn-success {
    background-color: #1cc88a;
}

/* General class to hide stuff. */
.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

/* Fix jQuery mobile button as a block. */
button.ui-btn {
    display: inline-block;
    min-width: 100px;
    width: unset;
}